# User-specific files
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

.vs/

tmp/

# Generated models
/resources/models*/
/assets/*
/resources/bundles/
!/assets/README.md

# A lot of temp textures, dont put on git yet.
/resources/textures/


/assetsv2/*
/assetsV3/*